@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body {
  font-family: 'Comfortaa', cursive;
  background-color: #CFCFCF;
  margin-bottom: 50px;
  padding: 0;
  margin: 0;
}

.section div {
  width: 400px;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 15px 10px;
}

.row span {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.row input {
  padding: 10px;
  outline: 0;
  border: 0;
  transition: 150ms ease-in;
  background-color: rgba(244, 244, 244, 0.7);
}

.row input:hover,
.row input:focus,
.row input:active {
  cursor: pointer;
  background-color: rgba(244, 244, 244, 0.9);
}

.appContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.background-setter {
  background-color: rgba(253, 239, 161, 0.5);
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.background-setter:nth-of-type(odd) {
  background-color: rgba(198, 204, 235, 0.7);
}

.Component__useState {
  width: 350px;
}

h2.background-setter {
  padding-top: 40px;
}